.masthead {
    height: 60vh;
    min-height: 500px;
    background-image: url('../img/masthead.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 80%;
}